src
obj

.depend.if_run.o
bus_if.h
device_if.h
export_syms
firmwareuploadnotes.c
if_run.o
machine
opt_usb.h
run_mt.ko
run_mtfw/.depend.run_mtfw.o
run_mtfw/export_syms
run_mtfw/machine
run_mtfw/run_mt.fw
run_mtfw/run_mt.fw.fwo
run_mtfw/run_mtfw.c
run_mtfw/run_mtfw.ko
run_mtfw/run_mtfw.o
run_mtfw/x86
usbdevs.h
x86

